body{
    margin: auto;
    margin-left: 0%;
    margin-right:0%;
    padding: 0%;
    overflow-x: hidden;
    }
header{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: beige;
    box-sizing: border-box;
   display: flex;
}
#circle{
    border-radius: 50%;
    background-color: black;
    width:50px;
 
}
#mt{
    color: white;
    padding-left: 6px;
    padding-top: 2px;
}
header h4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: .8%;
    float: left;
    margin-left: .5%;
}


.navbar{
    width: 100%;
    display: flex;
    height: 50px;
   
    background-color: rgb(204, 204, 101);
    box-sizing: border-box;
    position: absolute;
    top: 50px;
}  
#inputbars{
    width: 40%;
    display: flex;
   /* border: 1px solid red;*/
    position: absolute;
    cursor: pointer;
}
i {
    min-width: 40px; /* set a minimum width for the icon */
    padding: 10px; /* make sure the icon is centered vertically */
    text-align: center; /* horizontally center the icon */
    background: lightgrey;
 
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: .2%; 
}
  /* style the input */
   input {
    outline: none;
    margin-top: -.1%; 
    
    min-width: 80%;
    
    border: 1px solid lightgrey;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border: none;
    padding: 10px;
   }

  
  .button{
    width:60%;
    height: 50px;
    margin-left: 35%;
    position: relative;
    /*border: 1px solid green;*/
  }
 
    ul{
        list-style-type: none;
        display: flex;
     
    }
    li{
        margin-left: 10%;
        margin-right: 2%;
        height: 50px;
        box-sizing: content-box;
        font-size: x-large;
        margin-top: -.1%;
    }
  
 
    li:hover{
        
        color:white;

    }
#demo{
    position: relative;
    top:50px;
    width: 100%;
    height: 500px;
   /* border: 1px solid rgb(255, 81, 0);*/
    
    box-sizing: border-box;
}
img{
    
    width: 100%;
    height: 500px;
    position: relative;
    top:0px;

}
p a{
    text-decoration: none;
}
.picture
{
    width: 100%;
    height: 1000px;
    
    
}

.mainpart{
    width: 80%;
    height: 900px;
    /*border: 2px solid rgb(0, 255, 17);
    background-color: beige;*/
    box-sizing: border-box;
    position: absolute;
    top: 600px;
    margin-left: 10%;
} 

span{
    display:block;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#maindiv{
    display: flex;
    flex-wrap: wrap;
  
    
}

#container
{
    width:20%;
    height: 330px;
    margin-right:5%;
    margin-top: 4%;
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    box-shadow: 10px 12px 15px rgb( 93, 93, 93 );
    border: 1px solid black;
}
#container:hover
{
    transform: scale(.8);
}
#subcontainer1
{
    width: 100%;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
.image{
    width: 100%;
    height: 150px;
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
}
#subcontainer2
{
    width: 100%;
    height: 170px;
    /*border: 1px solid rgb(0, 0, 0);*/
}

.description
{
    font-size:20px;
    text-align: center;
      
}
.description1
{
  font-size: 15px;
  text-align: center;
}
.description2
{
    font-size: 15px;
  text-align: center;
  text-decoration: none;

}
span a{
    text-decoration: none;
}
footer{
    width: 100%;
    position: absolute;
    top:1500px;
    /*border: 1px solid rgb(0, 0, 0);*/
    background-color:rgb(109, 109, 109);
    box-sizing: border-box;
}
#copy{
    text-align: center;
    font-size: 20px;
       }
#email{
    text-align:center;
    font-size: 15px;
}
#gmail{
    text-align:center;
    font-size: 15px;
    text-decoration:none ;
}
/*0- 1600px*/
@media screen and (max-width:1600px)
{
    .picture{
        background-color:beige;
    }
}/*0-1250px*/
@media screen and (max-width:1250px)
{
    .picture{
              background-color:beige;
            }
}@media screen and (max-width:1059px)
{
    .picture{
                background-color:beige;
                height: 1700px;
            }
    #mt{
          
                padding-left: 5px;
                padding-top: 8px;
        }
#container
{       
        margin-left: 10%;
        width:30%;
}
span{ 
    margin-left: 10%;
    font-size: 20px;

}
footer{
  
    top: 2200px;
} 
.description{
         text-align: center;
         font-size:18px;
         margin-left: 1%;
 }
.description1{
        text-align: center;
        font-size: 15px;
        margin-left: 1%;
        

 }       
 .description2
 {
           text-align: center;
           font-size: 15px;
           margin-left: 1%;

 }
 #copy{
    text-align: center;
    font-size: 20px;
    margin-left: 1%;
       }
#email{
    text-align:center;
    font-size: 15px;
    margin-left: 1%;
}
#gmail{
    text-align:center;
    font-size: 15px;
    text-decoration:none ;
    margin-left: 1%;
}
 
 }

/*0-960px*/
@media screen and (max-width:960px)
{
        .picture
        {
        background-color:beige;
        }
        header h4
        {
            margin-top:1%;
        }
        #mt{
          
            padding-left: 7px;
            padding-top: 8px;
        }
       
}/*0-910px*/
@media screen and (max-width:910px)
{
        .picture
        {
        background-color:beige;
        }
        #mt{
          
            padding-left: 8px;
            padding-top: 9px;
        }
      
}/*0-850px*/
@media screen and (max-width:850px)
{
        .picture
        {
           background-color:beige;
        }
        header h4
        {
            margin-top:1.3%;
        }
        #inputbars{
            width: 35%;
           
        }
        .button{
          
                  margin-left: 30%;
               }
        #mt{
          
            padding-left: 6px;
            padding-top: 7px;
        }
        li{
            margin-left: 6%;
            margin-right: .8%;
           
            font-size: 20px;
           }
             
}
/*0-690px*/
@media screen and (max-width:699px)
{
        .picture
        {
           background-color:beige;
        }
        #mt{
          
            padding-left: 9px;
            padding-top: 10px;
        }
        #inputbars{
            width: 28%;
        }
        .button{
          
                  
                  width:50%;
                  margin-left: 25%;
               }
               li{
                margin-left: 9%;
                margin-right: 1%;
                height: 30px;
               }
     
        span{
               font-size: 17px;
             } 
             
.description{
    text-align: center;
    font-size:15px;
    margin-left: 2%;
}
.description1{
   text-align: center;
   font-size: 12px;
   margin-left: 2%;
   

}       
.description2
{
      text-align: center;
      font-size: 12px;
      margin-left: 2%;

}
    
}
/*0-635px*/
@media screen and (max-width:645px)
{
        .picture
        {
           background-color : beige;
        }
        header h4
        {
            margin-top:1.5%;
        }
        #mt{
          
            padding-left: 10px;
            padding-top: 10px;
        }
        #inputbars{
            width: 25%;
        }
        .button{
          
                 
                  width:50%;
                  margin-left: 22%;
               }
               li{
                margin-left: 6%;
                margin-right: .8%;
                height: 30px;
                font-size: 20px;
               }
     
        span{
               font-size: 17px;
             } 
             #container{
                 
                    margin-left:8%;
                    width:35%;

             }
}
 
/*0-575*/
@media screen and (max-width:635px)
{
        .picture
        {
           background-color:beige;
        }
        header h4
        {
            margin-top:1.5%;
        }
        #mt{
          
            padding-left: 5px;
            padding-top: 9px;
        }
        #inputbars{
            width: 25%;
        }
        .button{
          
                 
                  width:45%;
                  margin-left: 22%;
               }
               li{
                margin-left: 6%;
                margin-right: .8%;
                height: 30px;
               }
     
        span{
               font-size: 20px;
             } 
             #container{
                 
                    margin-left:8%;
                    width:35%;

             }
                   
}
@media screen and (max-width:535px)
{
        .picture
        {
           background-color:beige;
           height: 1400px;
        }
        header h4
        {
            margin-top:1.5%;
        }
        #mt{
          
            padding-left: 5px;
            padding-top: 9px;
        }
        #inputbars{
            width: 25%;
        }
        .button{
          
                 
                  width:45%;
                  margin-left: 22%;
               }
               li{
                margin-left: 6%;
                margin-right: .8%;
                
               }
     
        span{
               font-size: 20px;
             } 
             #container{
                 
                    margin-left:8%;
                    width:35%;
                    height: 300px;

             }
            footer{
                top: 1950px;
            }
       
}
@media screen and (max-width:480px)
{
        .picture
        {
           background-color:beige;
           height: 1200px;
    
        }
        header h4
        {
            margin-top:1.7%;
        }
        #mt{
          
            padding-left: 9px;
            padding-top: 10px;
        }
        #inputbars{
            width: 25%;
        }
        .button{
          
                 
                  width:45%;
                  margin-left: 20%;
               }
               li{
                margin-left: 6%;
                margin-right: .8%;
                height: 30px;
               }
     
            span{
               font-size: 16px;
             } 
             #container{
                 
                    margin-left:8%;
                    width:35%;
                    height:250px;

             }
             #subcontainer1
                {
                    width: 100%;
                    height: 100px;
                            
                    

                }
                .image{
                    width: 100%;
                    height: 100px;
                }
                .description{
                    text-align: center;
                    font-size:13px;
                    margin-left: 2%;
                }
                .description1{
                   text-align: center;
                   font-size: 11px;
                   margin-left: 2%;
                   
                
                }       
                .description2
                {
                      text-align: center;
                      font-size: 11px;
                      margin-left: 2%;
                
                }
                footer{
                   
                    top:1700px;
                    
                }
}
@media screen and (max-width:360px)
{
        .picture
        {
           background-color:beige;
           height: 2200px;
    
        }
        header h4
        {
            margin-top:1.7%;
        }
        #mt{
          
            padding-left: 0px;
            padding-top: 10px;
        }
        #inputbars{
            width: 20%;
        }
        .button{
          
                 
                  width:40%;
                  margin-left: 20%;
               }
               li{
                margin-left: 6%;
                margin-right: .8%;
                padding-top: 3%;
                font-size: 15px;
               }
     
            span{
               font-size: 16px;
               margin-left:30%;
             } 
             #container{
                 
                    margin-left:30%;
                    width:40%;
                    height:250px;

             }
             #subcontainer1
                {
                    width: 100%;
                    height: 100px;
                            
                    

                }
                .image{
                    width: 100%;
                    height: 100px;
                }
                .description{
                    text-align: center;
                    font-size:13px;
                    margin-left: 2%;
                }
                .description1{
                   text-align: center;
                   font-size: 11px;
                   margin-left: 2%;
                   
                
                }       
                .description2
                {
                      text-align: center;
                      font-size: 11px;
                      margin-left: 2%;
                
                }
                footer{
                   
                    top:2750px;
                    
                }
}